// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: 'Poppins',-apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

// Buttons
//



.jumbotron {
	background-image: url(../images/city_hall.png);
	background-attachment:fixed;
	min-height:400px;
}

.card {
	border: none !important;
}


.bg-blue {
	background-color: $blue;
}




